.frsbc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-chip {
  gap: 1em !important;
  box-sizing: border-box !important;
  padding: 0.05em 0.85em 0.05em 1.15em !important;
  border-radius: 12px !important;
  background: #f0f0f0 !important;
  border: 3px solid #fe880100 !important;

  transition: all 0.176s ease-out !important;
}

.navbar-chip:hover {
  border: 3px solid #fe8801 !important;
}